html,
body,
header,
.view {
    height: 1100PX;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 1000px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
        height: 650px;
    }
}

.top-nav-collapse {
    background-color: #3f51b5 !important;
}

.navbar {
    height: 50px;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #3f51b5 !important;
    }
}


/* Chart.js */

@-webkit-keyframes chartjs-render-animation {
    from {
        opacity: 0.99
    }
    to {
        opacity: 1
    }
}

@keyframes chartjs-render-animation {
    from {
        opacity: 0.99
    }
    to {
        opacity: 1
    }
}

.chartjs-render-monitor {
    -webkit-animation: chartjs-render-animation 0.001s;
    animation: chartjs-render-animation 0.001s;
}

h1 {
    margin-top: -200px;
    margin-left: 50px;
    font-size: 1000%;
    text-shadow: 4px4px8px#FF0000;
    animation: fadeIn 2sforwards;
}

form {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
}

h2 {
    margin-top: 30px;
    text-align: center;
    color: tomato;
    padding: 20px;
    margin-bottom: 20px;
}

.form1 {
    width: 400px;
    background-color: rgb(112, 75, 68);
    box-shadow: 0px5px15pxrgba(0, 0, 0, 0.5);
    padding-bottom: 1px;
    margin-bottom: 60px;
    margin-top: 60px;
    margin: auto;
}